@using System.Diagnostics
@rendermode InteractiveServer
@inject IJSRuntime JS
@implements IDisposable

<div class="card" id="@Person?.Id" style="@CardStyle" @onmousedown="startMovingPersonCard">
    <div class="card-header">
        <i class="bi bi-person-circle"></i>
    </div>

    <div class="card-body">
        <p class="card-title small">@Person?.Name @Person?.Surname</p>
        @* <p class="card-text small">@Person.Birthdate.ToString("dd/MM/yyyy")</p> *@

    </div>


</div>

@code {


    [Parameter]
    public Person? Person { get; set; } = new Person();

    public double CardX { get; set; } = 500;
    public double LastCardX { get; set; } = 200;
    public double CardY { get; set; } = 100;
    public double LastCardY { get; set; } = 300;
    public int CardWidth { get; set; }
    public int CardHeight { get; set; }
    public string CardStyle { get; set; } = "";

    public PersonCard()
    {
        styleListTemplate = new List<string>();
    }

    private List<string> styleListTemplate { get; set; }
    private bool canMove { get; set; }
    private IJSObjectReference? personCardJsModule;

    protected async override Task OnInitializedAsync()
    {
        styleListTemplate = new List<string>(){
            "position: abosulute;",
            "font-size: 1rem;",
            "width: 5rem;",
            $"top:{CardY}px; left:{CardX}px;"
        };
        CardStyle = ListToLongString(styleListTemplate);


        await base.OnInitializedAsync();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            personCardJsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/PersonCard.razor.js");
            var dotnetRef = DotNetObjectReference.Create(this);
            personCardJsModule.InvokeVoidAsync("Init", dotnetRef);

        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public void Dispose()
    {
        
    }

    // ################### PRIVATE ###################
    // ###################

    private string ListToLongString(List<string> styles)
    {
        var result = "";
        foreach (var item in styles)
        {
            result += item;
        }
        return result;
    }

    private void printStyles()
    {
        foreach (var item in CardStyle)
        {
            Console.WriteLine(item);
        }
    }

    private Task startMovingPersonCard(MouseEventArgs e)
    {
        canMove = true;
        personCardJsModule?.InvokeVoidAsync("StartMovingPersonCard", e, Person?.Id);
        return Task.CompletedTask;
    }





    [JSInvokable]
    public void SavePesrsonCardAfterMoving(MouseEventArgs args)
    {
        Trace.WriteLine($"CardX: {args.ClientX} | CardY: {args.ClientY}");
        Console.WriteLine($"CardX: {args.ClientX} | CardY: {args.ClientY}");
    }



}
